<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>

      <h3>
         <a href = "{{ url_for('all_users') }}">Flask Mysql example</a>
         <h2>All Users</h2>
      </h3>

      <table>
         <thead>
            <tr>
               <th>User Id</th>
               <th>Username</th>
               <th>Password</th>
            </tr>
         </thead>

         <tbody>
            {% for user in data %}
               <tr>
                  <td>{{ user[0] }}</td>
                  <td>{{ user[1] }}</td>
                  <td>{{ user[2] }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   <input type="button" onclick="location.href='/'" value="Go to Main" >
   </body>
</html>